{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
  {% if view_mode == 'teaser' %}
    <article{{ attributes.addClass(classes) }}>

      {{ title_prefix }}
      {% if label and not page %}
        <h2{{ title_attributes }}>
          {{ label }}
        </h2>
      {% endif %}
      {{ title_suffix }}

<a href="{{ file_url(node.field_attached_file.entity.fileuri) }}" class="btn-pdf-download">
PDF Version

<svg width="22px" height="25px" version="1.1" viewBox="0 0 12.32 13.617" xmlns="http://www.w3.org/2000/svg">
 <g transform="translate(-91.358 -73.323)">
  <g transform="matrix(.35278 0 0 -.35278 -374.69 96.245)">
   <g transform="translate(1338.5 64.977)">
    <path d="m0 0v-31.247" fill="none" stroke="#089eda" stroke-miterlimit="10" stroke-width="1.838"/>
   </g>
   <g transform="translate(1328.4 43.839)">
    <path d="M 0,0 10.109,-10.109 20.219,0" fill="none" stroke="#089eda" stroke-miterlimit="10" stroke-width="1.838"/>
   </g>
   <g transform="translate(1322 38.325)">
    <path d="m0 0v-11.028h33.085v11.028" fill="none" stroke="#089eda" stroke-miterlimit="10" stroke-width="1.838"/>
   </g>
  </g>
 </g>
</svg>
</a>

      <div{{ content_attributes.addClass('node__content') }}>
        {{ content }}
      </div>

      <div class="scroll-v-icon animate__animated animate__delay-3s animate__slow animate__shakeY animate__repeat-3">

      <svg id="Componente_5_2" data-name="Componente 5 – 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="82.973" viewBox="0 0 30 82.973">
  <defs>
    <clipPath id="clip-path">
      <path id="Trazado_129" data-name="Trazado 129" d="M0-4H15v-6.973H0Z" transform="translate(0 10.969)" fill="none" stroke="#ebf5f7" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="mouse" data-name="Rectángulo 4" transform="translate(0 18.034)" fill="none" stroke="#ebf5f7" stroke-width="1">
    <rect width="30" height="47" rx="15" stroke="none"/>
    <rect x="0.5" y="0.5" width="29" height="46" rx="14.5" fill="none"/>
  </g>
  <rect id="scroll_mouse" data-name="Rectángulo 5" width="3" height="8" rx="1.5" transform="translate(14 26.034)" fill="#ebf5f7"/>
  <g id="arrow_up" data-name="Grupo 266" transform="translate(23 -3.996) rotate(180)">
    <g id="Grupo_264" data-name="Grupo 264" transform="translate(0 -10.969)" clip-path="url(#clip-path)">
      <g id="Grupo_263" data-name="Grupo 263" transform="translate(0.636 0.635)">
        <path id="Trazado_128" data-name="Trazado 128" d="M-7.868,0l-6.864,5.7L-21.6,0" transform="translate(21.597)" fill="none" stroke="#ebf5f7" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
      </g>
    </g>
  </g>
  <g id="arrow_down" data-name="Grupo 267" transform="translate(8 86.969)">
    <g id="Grupo_264-2" data-name="Grupo 264" transform="translate(0 -10.969)" clip-path="url(#clip-path)">
      <g id="Grupo_263-2" data-name="Grupo 263" transform="translate(0.636 0.635)">
        <path id="Trazado_128-2" data-name="Trazado 128" d="M-7.868,0l-6.864,5.7L-21.6,0" transform="translate(21.597)" fill="none" stroke="#ebf5f7" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
      </g>
    </g>
  </g>
</svg>

      </div>


    </article>
    {% else %}
    <article{{ attributes.addClass(classes) }}>

             <div{{ content_attributes.addClass('node__content') }}>
               {{ content }}
<div class="footer-page">
<a href="{{ file_url(node.field_attached_file.entity.fileuri) }}" class="btn-pdf-download">
PDF Version

<svg width="22px" height="25px" version="1.1" viewBox="0 0 12.32 13.617" xmlns="http://www.w3.org/2000/svg">
 <g transform="translate(-91.358 -73.323)">
  <g transform="matrix(.35278 0 0 -.35278 -374.69 96.245)">
   <g transform="translate(1338.5 64.977)">
    <path d="m0 0v-31.247" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1.838"/>
   </g>
   <g transform="translate(1328.4 43.839)">
    <path d="M 0,0 10.109,-10.109 20.219,0" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1.838"/>
   </g>
   <g transform="translate(1322 38.325)">
    <path d="m0 0v-11.028h33.085v11.028" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1.838"/>
   </g>
  </g>
 </g>
</svg>
</a>

<span>Share it</span>
<a href="#">
<svg class="social-icons social-in" width="40px" height="40px" version="1.1" viewBox="0 0 5.2917 5.2916" xmlns="http://www.w3.org/2000/svg">
 <g transform="translate(-160.5 -168.81)">
  <g transform="matrix(.097307 0 0 -.097307 101.73 207.15)">
   <g transform="translate(631.09 340.62)">
    <path d="m0 0h-1e-3c-14.447 0-26.159 11.712-26.159 26.159s11.712 26.159 26.159 26.159h1e-3c14.447 0 26.159-11.712 26.159-26.159s-11.712-26.159-26.159-26.159z" style="fill:none;stroke-miterlimit:10;stroke-width:2.062;stroke:#fff"/>
   </g>
   <path d="m619.23 355.12h5.414v17.49h-5.414z" style="fill:#fff"/>
   <g transform="translate(621.91 374.9)">
    <path d="m0 0c1.769 0 3.202 1.446 3.202 3.229 0 1.782-1.433 3.226-3.202 3.226s-3.201-1.444-3.201-3.226c0-1.783 1.432-3.229 3.201-3.229" style="fill:#fff"/>
   </g>
   <g transform="translate(633.3 364.3)">
    <path d="m0 0c0 2.458 1.132 3.924 3.299 3.924 1.99 0 2.947-1.406 2.947-3.924v-9.182h5.389v11.075c0 4.684-2.656 6.95-6.364 6.95-3.71 0-5.271-2.89-5.271-2.89v2.356h-5.193v-17.491h5.193z" style="fill:#fff"/>
   </g>
  </g>
 </g>
</svg>
</a>
<a href="#">
<svg class="social-icons social-tw" width="40px" height="40px" version="1.1" viewBox="0 0 5.2917 5.2917" xmlns="http://www.w3.org/2000/svg">
 <g transform="translate(-79.846 -119.16)">
  <g transform="matrix(.097309 0 0 -.097309 14.135 157.49)">
   <g transform="translate(702.47 340.62)">
    <path d="m0 0c-14.447 0-26.159 11.712-26.159 26.159s11.712 26.159 26.159 26.159 26.159-11.712 26.159-26.159-11.712-26.159-26.159-26.159z" style="fill:none;stroke-miterlimit:10;stroke-width:2.062;stroke:#fff"/>
   </g>
   <g transform="translate(688.53 358.02)">
    <path d="m0 0c2.53-1.622 5.537-2.569 8.766-2.569 10.619 0 16.617 8.968 16.255 17.012 1.118 0.806 2.087 1.813 2.854 2.961-1.025-0.455-2.128-0.762-3.284-0.9 1.18 0.706 2.087 1.827 2.513 3.164-1.104-0.656-2.329-1.132-3.63-1.389-1.043 1.112-2.53 1.806-4.175 1.806-3.692 0-6.404-3.444-5.57-7.022-4.754 0.238-8.968 2.515-11.789 5.976-1.498-2.571-0.776-5.935 1.771-7.637-0.939 0.031-1.821 0.288-2.592 0.716-0.061-2.65 1.837-5.128 4.587-5.681-0.805-0.218-1.686-0.268-2.581-0.096 0.726-2.274 2.838-3.926 5.342-3.973-2.405-1.885-5.434-2.726-8.467-2.368" style="fill:#fff"/>
   </g>
  </g>
 </g>
</svg>
</a>
<a href="#">
<svg class="social-icons social-fa" width="40px" height="40px" version="1.1" viewBox="0 0 5.2917 5.2916" xmlns="http://www.w3.org/2000/svg">
 <g transform="translate(-125.44 -107.3)">
  <g transform="matrix(.097307 0 0 -.097307 52.783 145.63)">
   <g transform="translate(773.84 340.62)">
    <path d="m0 0c-14.448 0-26.16 11.712-26.16 26.159s11.712 26.159 26.16 26.159c14.447 0 26.159-11.712 26.159-26.159s-11.712-26.159-26.159-26.159z" style="fill:none;stroke-miterlimit:10;stroke-width:2.062;stroke:#fff"/>
   </g>
   <g transform="translate(769.85 350.97)">
    <path d="m0 0h6.368v15.946h4.443l0.473 5.34h-4.916v3.041c0 1.259 0.252 1.756 1.47 1.756h3.446v5.542h-4.409c-4.738 0-6.875-2.088-6.875-6.082v-4.257h-3.313v-5.406h3.313z" style="fill:#fff"/>
   </g>
  </g>
 </g>
</svg>
</div>
</a>
             </div>




    </article>
  {% endif %}
